.card-footer {
    display: flex;
    align-items: center;
    justify-content: end;
}
.card-footer .crud-icon {
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
}
a.active {
    transition: .4s ;
    display: block;
    color: #000;
    transform: scale(1.4);
}